.dark, .dark-theme {
  --midnight-1: #0A0118;
  --midnight-2: #1C1429;
  --midnight-3: #2D2639;
  --midnight-4: #3F384A;
  --midnight-5: #524C5C;
  --midnight-6: #66606E;
  --midnight-7: #7A7581;
  --midnight-8: #8F8A95;
  --midnight-9: #A4A1A9;
  --midnight-10: #BAB8BE;
  --midnight-11: #D0CFD3;
  --midnight-12: #E8E7E9;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --midnight-1: color(display-p3 0.07 0.067 0.074);
      --midnight-2: color(display-p3 0.101 0.098 0.105);
      --midnight-3: color(display-p3 0.138 0.134 0.144);
      --midnight-4: color(display-p3 0.167 0.161 0.175);
      --midnight-5: color(display-p3 0.196 0.189 0.206);
      --midnight-6: color(display-p3 0.232 0.225 0.245);
      --midnight-7: color(display-p3 0.286 0.277 0.302);
      --midnight-8: color(display-p3 0.383 0.373 0.408);
      --midnight-9: color(display-p3 0.434 0.428 0.467);
      --midnight-10: color(display-p3 0.487 0.48 0.519);
      --midnight-11: color(display-p3 0.707 0.7 0.735);
      --midnight-12: color(display-p3 0.933 0.933 0.94);
    }
  }
}