.dark, .dark-theme {
  --midnight-1: #0A011803;
  --midnight-2: #1C142906;
  --midnight-3: #2D26390f;
  --midnight-4: #3F384A17;
  --midnight-5: #524C5C1f;
  --midnight-6: #66606E26;
  --midnight-7: #7A758132;
  --midnight-8: #8F8A9546;
  --midnight-9: #A4A1A974;
  --midnight-10: #BAB8BE7f;
  --midnight-11: #D0CFD39f;
  --midnight-12: #E8E7E9e3;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --midnight-a1: color(display-p3 0 0 0 / 0);
      --midnight-a2: color(display-p3 0.996 0.992 1 / 0.034);
      --midnight-a3: color(display-p3 0.937 0.933 0.992 / 0.077);
      --midnight-a4: color(display-p3 0.957 0.918 0.996 / 0.111);
      --midnight-a5: color(display-p3 0.937 0.906 0.996 / 0.145);
      --midnight-a6: color(display-p3 0.953 0.925 0.996 / 0.183);
      --midnight-a7: color(display-p3 0.945 0.929 1 / 0.246);
      --midnight-a8: color(display-p3 0.937 0.918 1 / 0.361);
      --midnight-a9: color(display-p3 0.933 0.918 1 / 0.424);
      --midnight-a10: color(display-p3 0.941 0.925 1 / 0.479);
      --midnight-a11: color(display-p3 0.965 0.961 1 / 0.712);
      --midnight-a12: color(display-p3 0.992 0.992 1 / 0.937);
    }
  }
}