.dark, .dark-theme {
  --vibrant-violet-a1: #0A011803;
  --vibrant-violet-a2: #130A2A06;
  --vibrant-violet-a3: #2614550f;
  --vibrant-violet-a4: #391F8017;
  --vibrant-violet-a5: #4B29AA1f;
  --vibrant-violet-a6: #5E33D526;
  --vibrant-violet-a7: #713DFF32;
  --vibrant-violet-a8: #895DFF46;
  --vibrant-violet-a9: #A07EFF74;
  --vibrant-violet-a10: #B89EFF7f;
  --vibrant-violet-a11: #D0BEFF9f;
  --vibrant-violet-a12: #E7DFFFe3;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --vibrant-violet-a1: color(display-p3 0.041 0.004 0.094 / 0.012);
      --vibrant-violet-a2: color(display-p3 0.075 0.039 0.165 / 0.024);
      --vibrant-violet-a3: color(display-p3 0.149 0.078 0.333 / 0.059);
      --vibrant-violet-a4: color(display-p3 0.223 0.125 0.502 / 0.094);
      --vibrant-violet-a5: color(display-p3 0.294 0.165 0.667 / 0.122);
      --vibrant-violet-a6: color(display-p3 0.369 0.2 0.835 / 0.149);
      --vibrant-violet-a7: color(display-p3 0.443 0.239 1 / 0.196);
      --vibrant-violet-a8: color(display-p3 0.537 0.365 1 / 0.275);
      --vibrant-violet-a9: color(display-p3 0.628 0.494 1 / 0.455);
      --vibrant-violet-a10: color(display-p3 0.722 0.62 1 / 0.498);
      --vibrant-violet-a11: color(display-p3 0.816 0.745 1 / 0.623);
      --vibrant-violet-a12: color(display-p3 0.906 0.875 1 / 0.89);
    }
  }
}