.dark, .dark-theme {
  --vibrant-violet-1: #0A0118;
  --vibrant-violet-2: #130A2A;
  --vibrant-violet-3: #261455;
  --vibrant-violet-4: #391F80;
  --vibrant-violet-5: #4B29AA;
  --vibrant-violet-6: #5E33D5;
  --vibrant-violet-7: #713DFF;
  --vibrant-violet-8: #895DFF;
  --vibrant-violet-9: #A07EFF;
  --vibrant-violet-10: #B89EFF;
  --vibrant-violet-11: #D0BEFF;
  --vibrant-violet-12: #E7DFFF;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --vibrant-violet-1: color(display-p3 0.041 0.004 0.094);
      --vibrant-violet-2: color(display-p3 0.075 0.039 0.165);
      --vibrant-violet-3: color(display-p3 0.149 0.078 0.333);
      --vibrant-violet-4: color(display-p3 0.223 0.125 0.502);
      --vibrant-violet-5: color(display-p3 0.294 0.165 0.667);
      --vibrant-violet-6: color(display-p3 0.369 0.2 0.835);
      --vibrant-violet-7: color(display-p3 0.443 0.239 1);
      --vibrant-violet-8: color(display-p3 0.537 0.365 1);
      --vibrant-violet-9: color(display-p3 0.628 0.494 1);
      --vibrant-violet-10: color(display-p3 0.722 0.62 1);
      --vibrant-violet-11: color(display-p3 0.816 0.745 1);
      --vibrant-violet-12: color(display-p3 0.906 0.875 1);
    }
  }
}